<section class="list" id="list">
    <div class="error" id="error" *ngIf="hasError">Please Enter a Task</div>
    <div class="header" id="header">
        <input id="task" type="text" placeholder="Enter a Task" [(ngModel)]="inputValue" />
        <button id="add-task" (click)="addTask()"><i class="fa fa-fw fa-plus"></i></button>
    </div>
    <div id="body" *ngIf="ShowList">
        <ul id="tasks" *ngFor="let value of ListValue">
            <li class="task {{editModeClass}}">
                <label class="label" ngbButtonLabel>
                    <input type="checkbox" ngbButton>
                    {{value}}
                </label>
                <input type="text" [(ngModel)]="value">
                <button class="edit {{hiddenClass}}"  *ngIf ="editButtonDiv" (click)="editdiv(value)">Edit</button>
                <button class="edit {{hiddenClass}}" *ngIf ="editButton" (click)="editValue(value)">Edit</button>
                <button (click)="delete(value)" class="{{hiddenClass}}">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ul>
    </div>
</section>